<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Котопедія</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="container">
    <div class="card">
      <h1 class="title">🐈 Котячий Tinder</h1>

      <img src="" alt="котик" id="cat-image" class="main-cat">

      <p id="cat-fact" class="cat-fact">Завантаження факту...</p>

      <div class="main-buttons-wrapper">
        <button class="like-button" onclick="voteCat()">❤️</button>
        <button class="skip-button" onclick="loadCat()">⏭️</button>
      </div>

      <div class="nav-group">
        <a href="/top.html" class="top-link">Подивитись ТОП котиків</a>
        <a href="/votes.html" class="log-link">Журнал голосів</a>
      </div>
    </div>
  </div>

  <script src="/static/js/main.js"></script>
</body>
</html>
